@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .activities
    &__card
      width: 24%
      height: 255px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &__social
      &-network
        margin-top: 0
  .modal
    &__dialog
      width: 63%
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .newsletter
    padding: 71px 0 87px 0
  .raiting
    margin-bottom: -12px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__bottom
      &--visible
    &__search
      margin-left: auto

    &-menu
      padding-top: 21px
      padding-bottom: 22px
      max-width: 673px
      margin: auto
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
      &-group
        width: 340px

    &__button
      border-radius: 0 6px 6px 0
  .user
    margin-left: 26px
  .hotel
    padding-top: 12px
    padding-bottom: 57px
    &-wrapper
      margin-bottom: 0
    &-info
      &__offer
        margin-left: 16px
      &__rating
        margin-top: 10px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
      margin-top: 11px
      margin-left: 0px
    &-right
      flex-direction: row
    &-info
      &__description
        margin: 0 0
    &-slider
      width: 100%
  .booking
    width: 340px
    padding: 23px
    padding-top: 31px
    &__per-room
      margin-top: -4px

  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 579px
      &__button
        &--next
          right: 0px
          margin-top: -18px
        &--prev
          left: 1px
          margin-top: -18px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 31px
      line-height: 47px
      margin-bottom: 45px
  .activities
    padding-bottom: 60px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
    &__card
      width: 339px
      height: 255px
    &__title
      margin-top: -7px
  .card
    &__title
      max-width: 202px
    &__button
      padding: 7px 21px
  .footer
    margin-top: -11px
    padding-top: 58px
    padding-bottom: 0
    &-wrapper
      grid-template-columns: repeate(6, 1fr)
      grid-row-gap: 48px
      grid-column-gap: 0px
    &__input
      &-group
        flex-basis: 47%
    &__message
      flex-basis: 100%
      margin-bottom: 20px
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
      max-width: 43%
      margin-top: 15px
    &__form
      margin-top: 0
      margin-left: 0
      max-width: 539px
    &__social
      &-links
        margin-top: 60px
        margin-left: 0px
        padding-left: 0
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-top: -19px

    &__categories
      grid-row: 2 / 3
      grid-column: span 2

    &__legal
      grid-column: span 2
      margin-left: 56px
      margin-right: 13px
      margin-top: -2px
    &__additional
      grid-column: span 2
      margin-left: -23px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
        margin-top: 11px
        margin-left: 0
      &-form
        grid-column: span 5
        grid-row: 4
    &__title

      line-height: 160%
      &--mb-6
        font-size: 18px
        margin-top: 3px
        margin-left: 2px
      &--ml-3
      &--mb-5
        margin-top: -3px
        margin-left: 0px
      &--inline
        margin: 56px 43px 0 -40px
    &__conditions
      grid-row: 5
      margin-bottom: 8px
      display: flex
      justify-content: space-between

      grid-column: span 6
      margin-top: 0
      flex-wrap: nowrap
      margin-top: 5px
      &-icon
        margin-top: 0
        margin-top: -15px
      &-disclaimers
        margin-left: 0
        margin-bottom: 16px

    &-icon
      margin-left: 0px
  .activities
    padding-top: 20px
  .footer

    &__social
      &-network
        margin-top: -27px
    &__additional
      margin-left: -22px
      margin-right: -20px
    &__title
      &--mb-6
        margin-top: -2px
        margin-left: 3px
        margin-right: -6px
      &--mb-5
        margin-top: -9px
    &__text
      margin-top: 19px

@media (max-width: 765px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
      &--mobile
        &--visible
          margin-left: 0

    &__search
      &--mobile
        &--visible
          max-width: 243px
    &-bottom
      overflow-y: scroll
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-top

    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu

    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px

  .stars
    flex-basis: auto
  .hotel

    &-name
      flex-basis: 100%

    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &-right
        flex-direction: column
        max-height: 402px
      &-slider
        height: 350px

  .booking
    width: 100%
    margin-right: 20px
  .map
    width: 100%
    //height: 100%
  .newsletter
    padding: 29px 0 35px 0
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        max-width: 468px
        &::before, &::after
          display: none
  .activities

    padding-top: 40px
    padding-bottom: 60px
    &__card
      width: 49%
      height: 255px
  .footer
    &__additional
      margin-left: 0
    &__title
      &--mb-6
        margin-right: 0
  .modal
    &__dialog
      padding-left: 37px
      padding-right: 37px
      width: 63%
      &--visible
        overflow-y: scroll
        max-height: 100%
    &__button
      min-width: 45%
@media (max-width: 594px)
  .reviews
    &-slider
      &__item
        max-width: 468px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
  .footer
    &__additional
      margin-right: 0
  .modal
    &__dialog
      width: 90%
      padding-bottom: 21px
    &__button
      min-width: 36%
@media ( max-width: 576px )
  .logo
    width: 99px

  .hotel

    &__slider
      margin-bottom: 20px
      height: 179px
      margin-top: 27px

    //&-slider
      //height: 250px
    &-right
      flex-direction: column
      //max-height: 210px
  .booking
    margin-bottom: 20px
  .newsletter
    padding: 76px 0 83 px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 280px
  .reviews
    &-slider
      &__button
        &--next
          right: 0px
          margin-top: -18px
          &--prev
            left: 1px
            margin-top: -18px
      &__item
        max-width: 374px
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1

    &__social
      &-network

        grid-row: 2
        grid-column: 1
    &__title
      &--inline
        margin: 56px 43px 0 0px
    &__additional
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
      margin-left: 0
    &__input
      &-group
        flex-basis: 100%
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__conditions
      grid-row: 8
      grid-column: 1
@media ( max-width: 478px)

  .reviews
    &-slider
      &__text
        text-align: left
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -91px
          transform: translate(-50%, 0)
          margin-top: 0

        &--next
          right: 50%
          margin-right: -88px
          transform: translate(50%, 0)
          margin-top: 0
  .card
    width: 100%
  .footer
    &__conditions
      flex-wrap: wrap
  .modal
    &__dialog
      &--visible
        padding-left: 39px
        padding-right: 39px
    &__button
      min-width: 114px
      margin-bottom: 10px
@media ( max-width: 320px )
  //.parallax-window 
    //min-height: 319px

  .navbar
    &-top
      padding-top: 25px
      margin-left: -6px
      min-width: 281px
    &-bottom
      &--visible
        margin-top: -7px
        overflow-y: scroll
    &-menu
      &__item
        margin-bottom: 17px
        &--mobile
          &--visible
            margin-bottom: 17.8px

    &__user
      &--mobile
        &--visible
          margin-top: -20px
          margin-left: 0
          margin-bottom: 7px
    &__search
      &--mobile
        &--visible
          margin-bottom: 18px
          max-width: 243px
          margin-top: 2px

  .logo
    margin-top: -2px
  .breadcrumb
    &-list
      margin-top: -7px
      margin-left: -7px
  .container
    width: 84%
  .hotel
    padding-top: 0
    padding-bottom: 12px
    &-wrapper
      margin-left: -5px

    &-info
      &__description
        margin: 0px -6px

    &-right
      min-height: 402px
      flex-wrap: wrap
      min-width: 279px
      margin-left: -5px
    &-name
      font-size: 24px
      line-height: 30px
    &-slider
      margin-left: 0
  .swiper
    &-container-horizontal
      min-width: 279px
      margin-left: -5px

  .stars
    margin-right: 10px
  .slider
    &-hotel
      &__slider
        height: 179px
        margin-top: 27px
  .subscribe
    width: 100%
  .booking
    margin-bottom: 12px
    margin-right: 0
    padding-bottom: 0px

    &__button
      margin-bottom: 10px
  .map
    max-height: 172px
    &__frame
      min-height: 172px

  .card
    &__title
      min-width: 207px
  .newsletter
    min-height: 319px
    padding: 70px 0 0px 0
    margin-top: 30px
    &-title
      &__strong
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 28px
      margin-bottom: 39px
      margin-top: 7px
      padding-left: 10px
    &__subscribe
      margin-left: 8px
    &-wrapper
      width: 88%
      margin-left: 11px
  .subscribe
    &__input
      &-group
        padding: 17px
    &
  .reviews
    padding-top: 0px
    margin-top: 40px
    &__title
      font-size: 20px
      line-height: 23px
      margin-bottom: 42px
      margin-top: 7px
    &-slider
      &__text
        max-width: 219px
      &__button
        top: 30px

        &--prev
          left: 50%
          margin-left: -91px
          transform: translate(-50%, 0)
          margin-top: 0

        &--next
          right: 50%
          margin-right: -88px
          transform: translate(50%, 0)
          margin-top: 0

      &__item
        max-width: 281px
        padding: 0 20px 20px
  .activities
    padding-top: 0px
    margin-top: -50px
    margin-left: -6px
    &__title
      margin-bottom: 36px

    &__card
      width: 280px
      height: 255px
      padding-right: 108px
      margin-right: -6px

    div:nth-child(3)
      margin-top: 8px
      margin-bottom: 19px
  .footer
    margin-top: -20px
    margin-left: -6px
    padding-bottom: 6px
    &__logo
      max-width: 97px
      margin-top: 10px
    &__title
      &--inline
        margin-top: 12px
        margin-left: -5px
        margin-bottom: 19px
      &--mb-5

        margin-top: -26px
        margin-bottom: 32px
        margin-right: 0
      &--mb-6
        margin-top: -3px
        margin-left: 0
        margin-right: 0
      &--mb-3
        margin-top: 1px
        margin-right: 0
    &__ul
      margin-left: 3px

    &__legal
      margin-top: -25px
    &__additional
      margin-top: -21px
      margin-right: 0
    &__categories
      margin-top: -21px
    &__contact
      &-details
        margin-top: -11px
      &-form
        margin-top: 1px
        margin-bottom: -21px
        margin-right: -4px
      &-phone
        margin-top: 1px
        margin-left: -16px
        margin-bottom: -21px
    &__form
      margin-top: -17px
    &__info
      margin-top: -146px
      margin-right: 57px
    &__message
      margin-bottom: 24px

    &__button
      margin-top: 20px
    &__text
      margin-top: 23px
      margin-bottom: 19px
    &__conditions
      margin-top: 0.5px
      margin-right: -1px
      margin-bottom: 6px
    &__item
      &--mb-2
        margin-left: -1px
    &__icon
      margin-bottom: -2px
      &-tel
        margin-left: -6px
        margin-top: 3px
        margin-right: 10px

      &-wrapper
        min-width: 39px
        margin-bottom: 39px
        margin-top: 3px
        margin-left: -3px
        margin-right: -7px
        &--list23
          margin-top: -39px
          margin-left: -10px
          margin-bottom: -3px
        &--list3
          list-style: none
          margin-left: -11px
          text-decoration: none
          margin-bottom: 1px
      &-list
        &-img
          margin-left: -40px
          margin-right: 5px
          margin-top: 11px
          margin-bottom: -11px
      &-mb
        margin-left: 1px
        margin-top: 47px

    &__social
      &-network
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        margin-top: -24px
        margin-left: 4px
      &-links
        margin-top: 0
    &__link
      padding-bottom: 2px

      margin-left: -5px
      padding-right: 2px
    &__legal
      grid-row: 3
    &__categories
      grid-row: 5
    &__additional
      grid-row: 4
  .modal
    &__dialog

      &--visible
        max-width: 280px
        padding-left: 20px
        padding-right: 20px
        max-height: 100%
      &__button
        min-width: 114px
@media(hover: hover) and (pointer: fine)
  /*тут пишешь все свои ховеры*/
  .logo
    &__image:hover
      transform: scale(0.9)
  .search
    &__button:hover
      opacity: 0.6
  .user
    &__avatar:hover
      transform: scale(1.2)
    &__name:hover
      color: $primary
  .navbar
    &-menu
      &__item:hover
        transform: scale(1.2)
  .breadcrumb
    &-list
      &__link:hover
        color: $primary
  .button:hover
    opacity: 0.6
  .subscribe
    &__button:hover
      opacity: 0.6
  .reviews
    &-slider
      &__button:hover
        background-color: #FCA1A8
        border-radius: 4px
  .card
    &__button:hover
      opacity: 0.6
  .footer
    &__logo:hover
      transform: scale(1.2)
    &__link:hover
      color: #696969
    &__phone-number:hover
      color: #696969
    &-bottom
      &__link:hover
        color: #696969
