@media (max-width: 1350px)
  .container
    width: 85%
  .navbar
    &-menu

      margin: auto
    &-wrapper
      margin: auto

@media (max-width: 992px)
  .container
    width: 90%
  .navbar
    &-menu
      min-width: 450px
  .shop
    &__banner
      &-text
        max-width: 400px
        font-size: 18px
        line-height: 32px
      &-title
        font-size: 48px
        line-height: 60px
@media ( max-width: 800px )
  .navbar
    &-top
      &__button
        width: 22px
        height: 16px
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: $light

        &-line
          width: 22px
          height: 2px
          background-color: $text-line
          padding: 0
          cursor: pointer

    &-menu
      display: none
    &-wrapper

      &__button
        display: none
@media ( max-width: 768px )
  .container
    max-width: 728px
    width: 95%
  .navbar
    &-wrapper
      padding: 25px 41px
  .shop
    &__banner
      margin-top: 22px
      &-picter
        position: absolute
        left: -0.03%
        right: -64.88%
        z-index: -1
        margin-top: 19px
      &-info
        padding-left: 26px
@media ( max-width: 320px )
  .container
    max-width: 270px
  .navbar
    &-wrapper
      margin-left: 0
      padding-top: 18px
