.navbar
  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 25px
    padding-bottom: 75px
    &__button
      text-decoration: none
      border-radius: 8px
      border: 2px solid $text-link
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      padding: 12px
      min-width: 101px
      padding-left: 21px
  &-top
    &__button
      display: none
  &-menu
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: 600
    font-size: 16px
    line-height: 22px
    line-height: 100%
    list-style-type: none
    margin: 0
    padding: 0
    color: $text-color
    margin-left: 345px
    min-width: 506px
    &__link
      text-decoration: none
